// color
$color-pink-1: #b61984;
$color-pink-2:#aa017e;
$color-dark-1:#888888;
$color-dark-2:#aaa;
$color-brown-1:#9d2b2b;
$color-purple-1:#dcd1f3;


//padding
$pd-0:0;
$pd-10:200px;

//font-size
$fs-10:60px;
//font-weight
$fw-10:650;
