.aboutus{
    width: 100%;
    position: relative;
    padding: 0;
    .aboutus__image {
        z-index: 10;
        .aboutus img{
            width: 100%;
        }
    }
    .aboutus__content{
        z-index: 10;
        .aboutus__item p:nth-child(1){
            color: #b61984;
            padding: 0;
            margin: 0;
        }
        .aboutus__item p:nth-child(2) {
            font-weight: $fw-10;
            font-size: $fs-10;
        }
    }

    &::before{
        content: '';
        background: url('../img/yellow_top_wave_01.png');
        width: 100%;
        min-height:200px;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
    }
    &::after{
        content:'';
        background: url('../img/Violet_top_left_wave.png');
        width: 100%;
        min-height: 200px;
        background-size: 100% 100%;
        background-position: bottom;
        position: absolute;
        bottom: 0;
    }
}   